@import "tailwindcss";

@theme {
  --color-ocean-950: #080f1e;
  --color-ocean-900: #0d1b2e;
  --color-ocean-800: #112842;
  --color-ocean-700: #163856;
  --color-ocean-600: #1a4d70;
  --color-ocean-500: #1e6595;
  --color-ocean-400: #2485be;
  --color-ocean-300: #55a8d8;
  --color-ocean-200: #93c9eb;
  --color-ocean-100: #cce5f5;
  --color-ocean-50:  #e8f4fc;

  --color-hook: #f59e0b;
  --color-hook-light: #fcd34d;
  --color-teal-sea: #0d9488;
  --color-navy-deep: #080f1e;
}
